{
    "sports": {
        "cycling": {
            "target_weekly_distance": 150000,
            "target_distance": 100000,
            "trains_indoors": false
        },
        "running": {
            "target_weekly_distance": 16000,
            "target_distance": 21000,
            "trains_indoors": false
        }
    },
    "ftp": 240
}
